.custom-combobox-toggle{
    border-left: 0 !important;

}
.custom-combobox-input {
    width: 100%;
    max-width: 540px;
    border-right: 0 !important;
    padding: 8px;
}

.crm-lookup-textfield[readonly]{
    background-color: #FFF !important;
    cursor: default !important;
}

.crm-lookup-field-wrapper{
        border: 0 solid !important;
        margin: 0 !important;
        padding:0 !important;
}

.crm-lookup-popup-overlay {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.crm-lookup-popup-overlay-bg{
    background-color: grey;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1005;
}

.crm-lookup-popup{
    height: 550px;
    left: 50%;
    margin-left: -275px;
    margin-top: -275px;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    top: 50%;
    width: 490px;
    z-index: 1006;
    background-color: white;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 1em black;
}

.crm-lookup-popup-header{
    padding-top: 10px;
    width: 100%;
}

.crm-header-title{
    color: #262626;
    font-size: 27px;
    font-weight: lighter;
    line-height: 40px;
}

.crm-popup-cancel{
    display: block;
    text-decoration: none;
    color: #262626;
    height: 16px;
    position: absolute;
    top: 20px;
    width: 16px;
    right: 30px;
}

.crm-lookup-popup-body-header{
    padding-top: 30px;
    font-size: 11px;
    color: #333;
}

.crm-lookup-popup-body-header table{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    height: 21px;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
    border-bottom-color: #d6d6d6;
    border-top-color: #d6d6d6;

}

.crm-lookup-popup-body-header td span{
    border-left: 1px solid #d6d6d6;
    padding-left: 8px;
}

.crm-lookup-popup-body-header td:first-child{
    width: 30px;
    border-left: none;
}

.crm-lookup-popup-body{
    width:100%;
    margin-top: 30px;
    overflow: hidden;
    height: 333px;
    position: relative;
}

.crm-lookup-body-grid{
    height: 311px;
    width:100%;
    overflow-y: scroll;
}

.crm-lookup-body-grid table{
    white-space: nowrap;
}

.crm-lookup-body-grid table thead{
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    height: 21px;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
}

.crm-lookup-body-grid table th{
    color: #333;
    font-size: 11px;
    font-weight: normal;
}

.crm-lookup-body-grid table th:first-child {
    border-left: medium none;
    width: 30px;
}

.crm-lookup-body-grid table th span {
    border-left: 1px solid #d6d6d6;
    padding-left: 8px;
    padding-right: 8px;
}

.crm-lookup-body-grid tr {
    background: #FFFFFF;
    cursor: pointer;
}

.crm-lookup-body-grid tr:hover {
    background: #d7ebf9;
}

.crm-lookup-body-grid thead tr:hover {
    background:  #FFFFFF;
    cursor: auto;
}

.crm-lookup-body-grid tr.selected-row {
    background: #b1d6f0;
}

.crm-lookup-popup-body-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
    z-index: 100;
    background: #FFFFFF;
}

.crm-lookup-popup-body-loader table {
    width: 100%;
    height: 100%;
}

.crm-lookup-body-grid td {
    font-size: 11px;
    padding-left: 8px;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.crm-lookup-body-grid td nobr {
    display: block;
    height: 19px;
    line-height: 19px;
    padding-left: 2px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.crm-lookup-body-grid .lookup-checkbox,
.crm-lookup-body-grid tr:hover .lookup-checkbox,
.crm-lookup-body-grid .selected-row:hover .lookup-checkbox,
.crm-lookup-body-grid .selected-row .lookup-checkbox {
    background: url("../images/grid_ctrl_imgs.png") no-repeat scroll transparent;
}

.crm-lookup-body-grid .lookup-checkbox {
    background-position: -172px -84px;
    height: 10px;
    overflow: hidden;
    width: 12px;
    visibility: hidden;
}

.crm-lookup-body-grid tr:hover .lookup-checkbox {
    background-position: -172px -84px;
    visibility: visible;
}

.crm-lookup-body-grid .selected-row:hover .lookup-checkbox,
.crm-lookup-body-grid .selected-row .lookup-checkbox {
    background-position: -157px -101px;
    visibility: visible;
}

.crm-lookup-body-grid td:first-child {
    padding-right: 6px;
    width: 30px;
}

.body-row {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #00A8EF;
}

.body-row:hover {
    background: #00A8EF;
}

.crm-lookup-popup-foot {
    height: 60px;
    padding-top: 20px;
    width: 100%;
}

.crm-lookup-popup-foot-right {
    float: right;
}

.crm-lookup-search-area {
    margin-top: 8px;
}

.crm-lookup-search-area td {
    font-size: 11px;
    padding: 5px;
}
.crm-lookup-search-area td.label-td {
    padding: 0;
}

.crm-lookup-search-area td label {
    font-weight: bold;
    margin-bottom: 0;
}

.crm-lookup-search-area td select {
    border: 1px solid #c6c6c6;
    font-size: 11px;
    height: 20px;
    width: 100%;
}
.crm-lookup-search-area td select:disabled {
    color: #666;
}

.crm-lookup-search-area td input[type="text"] {
    border: 1px solid #c6c6c6;
    font-size: 11px;
    background-color: #ffffff;
    height: 18px;
    margin-bottom: 1px;
    margin-top: 0;
    padding: 1px 7px 2px;
    width: 100%;
}
.crm-lookup-search-area input[type="text"].crm-lookup-searchfield {
    width: 200px;
    border-right: none;
    float: left;
}

.crm-lookup-search-area td .crm-lookup-searchfield-button {
    background: url("../images/search_normal.gif") no-repeat scroll center center transparent;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
    cursor: pointer;
    float: left;
    height: 18px;
    width: 20px;
}

.crm-lookup-search-area td .crm-lookup-searchfield-button:hover {
    background: url("../images/search_hover.gif") no-repeat scroll center center transparent;
}

.crm-lookup-search-area td .crm-lookup-searchfield-delete-search {
   background: url("../images/control_imgs.png") no-repeat scroll -150px -158px transparent;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
    cursor: pointer;
    float: left;
    height: 18px;
    width: 20px;
    display: none;
}

.crm-lookup-search-area td .crm-lookup-searchfield-delete-search:hover {
    background: url("../images/control_imgs.png") no-repeat scroll -127px -158px transparent;
}

.crm-lookup-popup-foot button {
    background-repeat: repeat-x;
    cursor: pointer;
    line-height: 16px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-image: none;
    border: 1px solid #c6c6c6;
    font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
    margin-top: 10px;
    min-width: 80px;
    white-space: nowrap;
    width: auto;
    background-color: #ffffff;
    color: #444444;
    font-size: 12px;
}

.crm-lookup-popup-foot button:hover {
    background-color: #d7ebf9;
}
.crm-lookup-popup-foot button:disabled, .crm-lookup-popup-foot button:disabled:hover {
    color: #b1b1b1;
}

.crm-lookup-field-wrapper {
    position: relative;
}

.crm-lookup-textfield-button {
    background: url("../images/search_normal.gif") no-repeat scroll center center transparent;
    cursor: pointer;
    height: 18px;
    position: absolute;
    right: 1%;
    top: 20%;
    width: 20px;
}

.crm-lookup-textfield-button:hover {
    background: url("../images/search_hover.gif") no-repeat scroll center center transparent;
}

.crm-lookup-textfield-delete-value {
    background: url("../images/control_imgs.png") no-repeat scroll -150px -158px transparent;
    cursor: pointer;
    display: block;
    height: 18px;
    position: absolute;
    right: 3.5%;
    top: 22%;
    width: 20px;
}

.crm-lookup-textfield-delete-value:hover {
    background: url("../images/control_imgs.png") no-repeat scroll -127px -158px transparent;
}

.crm-lookup-popup-body-foot {
    border-top: 1px solid #d6d6d6;
    color: #444444;
    font-size: 11px;
    height: 22px;
    width: 100%;
    text-align: right;
}

.crm-lookup-popup-body-foot table td {
    vertical-align: middle;
}

.crm-lookup-popup-body-foot table {
    height: 22px;
    width: 100%;
}

.crm-lookup-popup-first-page {
    background: url("../images/grid_ctrl_imgs.png") no-repeat scroll -157px -113px transparent;
    height: 9px;
    overflow: hidden;
    margin: 0 6px;
    width: 8px;
    display: inline-block;
    border: 0 none;
    padding: 0;
    vertical-align: middle;
}

.crm-lookup-popup-first-page:disabled, .crm-lookup-popup-first-page:hover {
    background: url("../images/grid_ctrl_imgs.png") no-repeat scroll -157px -135px transparent;
}

.crm-lookup-popup-prev-page {
    background: url("../images/grid_ctrl_imgs.png") no-repeat scroll -171px -107px transparent;
    height: 9px;
    overflow: hidden;
    width: 8px;
    margin: 0 6px;
    display: inline-block;
    border: 0 none;
    padding: 0;
    vertical-align: middle;
}

.crm-lookup-popup-prev-page:disabled, .crm-lookup-popup-prev-page:hover {
    background: url("../images/grid_ctrl_imgs.png") no-repeat scroll -167px -118px transparent;
}

.crm-lookup-popup-next-page {
    background: url("../images/grid_ctrl_imgs.png") no-repeat scroll -157px -124px transparent;
    height: 9px;
    overflow: hidden;
    width: 8px;
    margin: 0 6px;
    display: inline-block;
    border: 0 none;
    padding: 0;
    vertical-align: middle;
}

.crm-lookup-popup-next-page:disabled, .crm-lookup-popup-next-page:hover {
    background: url("../images/grid_ctrl_imgs.png") no-repeat scroll -95px -159px transparent;
}

.crm-popup-no-results{
    width: 100%;
    height: 100%;
}
.crm-popup-no-results td{
    height: 100%;
}

.cf7-disabled{
    cursor: wait !important;
}

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

.alert h4 {
    color: inherit;
    margin-top: 0;
}
.alert .alert-link {
    font-weight: 700;
}
.alert > p, .alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close, .alert-dismissible .close {
    color: inherit;
    position: relative;
    right: -21px;
    top: -2px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
    color: #843534;
}
